# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Code::Blocks specific files
devel/
output/
.objs/
*.depend
*.layout
autorevision.h

# wxMSW
wxMSW/logs
wxMSW/bin
wxMSW/src/lib/gcc_dll*

# DreamSDK specific files
codeblocks-17.12-dreamsdk-addon-bin.*
id.dat
inc.dat
lib.dat
sort.dat
packager/dist/
